In [2]:
import netCDF4
import numpy as np

# open the dataset
dataset = netCDF4.Dataset('C:/Users/alexo/Documents/Projects/DMiner-work/new/downloads/2/tmp, percip/from 1979-01-01 - 2100-01-01/61b95de78bba886bd1c5216a.nc')

In [3]:
# Access the time variable
time_var = dataset.variables['time']

# Get the time units
time_units = time_var.units

In [10]:
# Convert the time values to datetime objects
dates = netCDF4.num2date(time_var[:], time_units)

# Convert the dates to python datetime objects and find min and max dates
dates = [date.toordinal() for date in dates]
min_date = min(dates)
max_date = max(dates)

# Convert back to datetime format
from datetime import datetime
min_date = datetime.fromordinal(min_date)
max_date = datetime.fromordinal(max_date)

# Print the first and last date
print('Date range: ', min_date, ' to ', max_date)

# Get the time units
time_units = time_var.units
print(time_units)

Date range:  6706-05-09 00:00:00  to  6706-06-07 00:00:00
days since 1850-1-1 00:00:00

date range is really strange... let's change that

In [11]:
from datetime import datetime, timedelta

# Define the reference date
reference_date = datetime(1850, 1, 1)

# Convert the time values to timedelta objects and add them to the reference date
dates = [reference_date + timedelta(days=float(t)) for t in time_var[:]]

# Get the min and max dates
min_date = min(dates)
max_date = max(dates)

# Print the first and last date
print('Date range: ', min_date, ' to ', max_date)

Date range:  1993-04-01 00:00:00  to  1993-04-30 18:00:00

In [12]:
# To check if data is 4 times per day, count the unique days and compare with the total entries
unique_days = np.unique([date.date() for date in dates])
print('Is data 4 times per day? ', len(dates) == 4 * len(unique_days))

Is data 4 times per day?  True